.content {
  max-width: var(--width-main);
  /* max-height: 1920px; */
}
/* Класи які визначає загальні властивості 1,2,4 секцій */
/* Режим накладання для картинок */
.content_box_img {
  mix-blend-mode: overlay;
  position: relative;
  width: 100%;
  z-index: 1;
}
/* Загальне оформлення тестової частини */
.content_box {
  position: relative;
  z-index: 5;
}
/* Загальне оформлення абзаців */
.content_p {
  padding-left: var(--padding-text);
  padding-right: var(--padding-text);
  text-align: justify;
}
/*Перший блок*/
.content_box_about {
  max-height: 621px;
}
/* Піднімаємо блок з написам */
.content_box_about_text {
  top: -620px;
}
/* Фонове зображення */
.content_box_about_img {
  background: url(../img/vasilisk.jpg) no-repeat;
  background-size: cover;
  height: 621px;
}
/* Другий блок */
.content_box_classification {
  height: 406px;
}
/* Фонове зображення */
.content_box_classification_img {
  background: url(../img/Acromntula.webp) no-repeat;
  background-size: cover;
  height: 406px;
}
/* Піднімаємо блок з написам */
.content_box_classification {
  top: -385px;
}
/* Пункт який вміщує інший список */
.content_box_classification_li {
  list-style: none;
}
/* Відступи для вкладеного списку */
.content_box_classification_ol {
  padding-left: 30px;
}
/* Четвертий  блок */
.content_box_facts {
  height: 453px;
}
/* Піднімаємо блок з написам */
.content_box_facts_text {
  top: -430px;
}
/* Фонове зображення */
.content_box_facts_img {
  background: url(../img/vzrivopotam.webp) no-repeat;
  background-size: cover;
  height: 453px;
}
/* третій блок */
.content_box_individual {
  height: 440px;
}
/* Блок з картинками */
.content_box_individual_img_box {
  margin-left: 25px;
  margin-top: 5%;
}
/* Властивості загальні для всіх картинок */
.content_box_individual_img {
  width: var(--img);
  height: var(--img);
  cursor: pointer;
}
/* Перша картинка */
.content_box_individual_img__vasilisk {
  background: url(../img/vasilisk1.jpg) no-repeat;
  background-size: cover;
}
/* Друга картинка */
.content_box_individual_img__enipont {
  background: url(../img/enimepent.jfif) no-repeat;
  background-size: cover;
}
/*Третя картинка */
.content_box_individual_img__grindlou {
  background: url(../img//grindilou.jfif) no-repeat;
  background-size: cover;
}
/* Ефекти при наведенні */
/* Клас для блока з картинкою та написом*/
.content_box_individual_card {
  position: relative;
  width: var(--img-hover);
  height: var(--img-hover);
  display: inline-block;
  cursor: pointer;
}

/* Клас для блоку з текстом */
.content_box_individual_img_text {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  width: var(--img-hover);
  height: var(--img-hover);
  background: rgba(255, 255, 255, 0.7);
}
/* Окремий стиль для абзацу з текстом,
який з'яаляєтся прі наведенні*/
.content_box_individual_img_p {
  font-size: 16px;
  text-align: center;
  padding: 2px 2px 2px 2px;
}

.content_box_individual_card:hover .content_box_individual_img {
  width: var(--img-hover);
  height: var(--img-hover);
}
.content_box_individual_card:hover .content_box_individual_img_text {
  display: inline-block;
  /* Animista */
  -webkit-animation: scale-up-bl 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-bl 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-12-22 11:37:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-bl
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}
@keyframes scale-up-bl {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
  }
}
